<!--Navbar-->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img alt="clusil logo" src="https://clusil.lu/img/logo.png" class="d-inline-block align-top" style="width: 7em;">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#events" data-offset="100">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#about" data-offset="3000">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#partners" data-offset="100">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#statistics" data-offset="100">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#team" data-offset="0">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#join-us">Join Us</a>
                        </li>
                    </ul>
                   <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://www.linkedin.com/groups/3852540"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://twitter.com/clusil_lu"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item"><a href="https://cms.clusil.lu/" id="show_login" class="nav-link waves-effect waves-light"><i class="fa fa-sign-in"></i><span class="hidden-sm-down">Login</span></a></li>
                        </ul>

                </div>
      
        </nav>
        <!--/Navbar-->

